<!DOCTYPE html>
<html lang="en" mlns:th="http://www.thymeleaf.org">

<!-- working for navbar dropdowns -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="/jquery/jquery-3.4.1.js"></script>
<link rel="stylesheet" type="text/css"  th:href="@{/css/bootstrap.min.css}"/>
<script src="/js/bootstrap.min.js"></script>

<!-- Working for auto complete-->

<link href="/jquery/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" type="text/css"  />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<!-- Working for multi select -->

<link href="/multi-select/css/multi-select.css" rel="stylesheet" />
<script src="/multi-select/js/jquery.multi-select.js"></script>

<link href="/multi-select/css/select2.css" rel="stylesheet" />
<script src="/multi-select/js/select2.js"></script>

<script src="/js/autocomplete.js"></script>

<head>
<meta charset="ISO-8859-1">
<title>Fund Form</title>
</head>
<body>
<!-- to include the Navbar from fragments/nav.html -->
<div  th:replace="fragments/nav :: navbar"></div>
<div class="container">
	
	<h3>Add Funds</h3>
	<hr>	

	<form action="#" th:action="@{/AddFunds}" th:object="${onBordDto}" method="post">	
		<input id="client" type="text" class="form-control mb-4 col-4">		
		<input type="text" id="clientId" th:field="*{clientId}" placeholder="clientId" class="form-control mb-4 col-4" readonly>									
		<input type="text" th:field="*{fundName}" placeholder="Fund Short Name"	class="form-control mb-4 col-4">
		
<!-- 		<select multiple="multiple" th:field="*{clientFunds}" id="clientFunds" name="clientFunds[]">
  			<option value="option 1">Option 1</option>
  			<option value="option 2">Option 2</option>
  			<option value="option 3">Option 3</option>
  			<option value="option 4">Option 4</option>
  			<option value="option n">Option n</option>
		</select>	 -->
		
		<!-- <select class="js-example-basic-multiple" multiple="multiple" > -->
		<select class="form-control mb-4 col-4" id ="funds" multiple="multiple" th:field="*{fundName}" >
  			<!-- <option value="US">United States</option>
  			<option value="IND">India</option>
  			<option value="GBR">Great Britain</option> -->
		</select>
		
		<br>
		<br>
		<button type="submit" class="btn btn-info col-2">Save</button>
	</form>
</div>	
</body>
</html>